* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: black;
    background-image: url(wallpapers.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

main {
    width: 400px;
    height: 490px;
    margin: 100px auto;
    border: 1px solid rgb(254, 254, 254);
    background-color: rgba(0, 0, 0, 0.751);
    border-radius: 10px;
}

.image {
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    margin: 35px auto;
    border-radius: 100px;
    background-image: url(image.png);
    background-size: cover;
}

h1, h2, h3 {
    text-align: center;
    margin: 20px 0;
    font-size: 22px;
}

h2 {
    font-size: 18px;
    font-weight: 200;
}

h3 {
    position: relative;
    bottom: 0;
    font-size: 14px;
    font-weight: 200;
    padding-top: 60px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
}

.vk, .youtube, .tg {
    margin: 20px;

}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}